Source: ndn.cxx
Priority: extra
Maintainer: Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Build-Depends: debhelper (>= 8.0.0), 
 python (>= 2.7.0),
 pkg-config (>= 0.26),
 ndnx-dev (>= 0.2~rc1),
 libssl-dev (>=1.0.1), 
 libsqlite3-dev (>= 3.7.9), 
 libevent-dev (>= 2.0.16),
 libcrypto++-dev (>= 5.6.1),
 libboost-system-dev (>= 1.48.0), libboost-test-dev (>= 1.48.0),
 libboost-iostreams-dev (>= 1.48.0), libboost-filesystem-dev (>= 1.48.0),
 libboost-thread-dev (>= 1.48.0), libboost-date-time-dev (>= 1.48.0),
 libboost-regex-dev (>= 1.48.0), libboost-program-options-dev (>= 1.48.0)
Standards-Version: 3.9.2
Section: libs
Homepage: http://github.com/named-data/ndn.cxx
Vcs-Git: git://github.com/named-data/ndn.cxx.git
Vcs-Browser: http://github.com/named-data/ndn.cxx

Package: ndn.cxx-dev
Section: libdevel
Architecture: i386 amd64
Depends: ndn.cxx (= ${binary:Version})
Description: C++ API for NDN (dev branch)

Package: ndn.cxx
Section: libs
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ API for NDN (dev branch)
